@{
    Layout = "~/Views/Shared/Sessao.cshtml";
}

<head>
    <script src="~/Scripts/_JavaScript/jquery-3.4.1.js"></script>
    <meta charset="utf-8" />
    <title> @ViewBag.Title </title>
    <link rel="stylesheet" type="text/css" href="..\..\Scripts\_fullCalendar\core\main.css" />
    <link rel="stylesheet" type="text/css" href="..\..\Scripts\_fullCalendar\daygrid\main.css" />
    <link rel="stylesheet" type="text/css" href="..\..\Scripts\_fullCalendar\timegrid\main.css" />
    <link rel="stylesheet" type="text/css" href="..\..\Scripts\_fullCalendar\list\main.css" />
    <link rel="stylesheet" type="text/css" href="..\..\Scripts\_fullCalendar\bootstrap\main.css" />
    <link href="~/Content/Home.css" rel="stylesheet" />
    <!--<link href="~/Content/bulma.css" rel="stylesheet" />-->

    <link rel="stylesheet" type="text/css" href="..\..\Content\bootstrap.min.css" />
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
    <script src="~/Scripts/_fullCalendar/core/main.js"></script>
    <script src="~/Scripts/_ace/src/ace.js"></script>
    <script src="~/Scripts/_fullCalendar/interaction/main.js"></script>
    <script src="~/Scripts/_fullCalendar/core/locales/pt-br.js"></script>
    <script src="~/Scripts/_fullCalendar/bootstrap/main.js"></script>
    <script src="~/Scripts/_fullCalendar/daygrid/main.js"></script>
    <script src="~/Scripts/_fullCalendar/timegrid/main.js"></script>
    <script src="~/Scripts/_fullCalendar/list/main.js"></script>

    <script src="~/Scripts/_JavaScript/home.js"></script>
</head>

<body>
    <div class="container-fluid px-0">
        <nav aria-label="main navigation">
            <div class="navbar rounded-0 navbar_custom">
                <div class="navbar-header">
                    <figure class="float-left">
                        <img id="logo" src="~/Content/_imagens/logo.png" />
                    </figure>
                    <a role="button" class="navbar-toggle collapsed toggle_custom float-right" aria-expanded="false"
                       data-toggle="collapse" data-target="#barraMenu">
                        <span class="fas fa-times burger_close_icon"></span>
                        <span class="button_burger_icon"></span>
                        <span class="button_burger_icon"></span>
                        <span class="button_burger_icon"></span>
                    </a>
                </div>
                <div id="barraMenu" class="py-2 navbar-collapse collapse">
                    <div class="nav navbar-right row_responsive _smaller">
                        <div class="nav-item row row_responsive _smaller p-2">
                            <div id="nav-btn0" class="nav-item navitem_custom current">
                                <a class="nav-link navlink_custom" href="#">Agendamento</a>
                            </div>
                            <div id="nav-btn1" class="nav-item navitem_custom">
                                <a class="nav-link navlink_custom" href="#">Experimento</a>
                            </div>
                            <div id="nav-btn2" class="nav-item navitem_custom">
                                <a class="nav-link navlink_custom" href="#">Minha Conta</a>
                            </div>
                            <div id="nav-btn3" class="nav-item navitem_custom">
                                <a class="nav-link navlink_custom" href="#">Ajuda</a>
                            </div>

                            <div id="nav-btn4" class="nav-item navitem_custom">
                                <a class="nav-link navlink_custom" href="@Url.Action("Logoff", "Home")">Sair</a>
                            </div>
                        </div>
                        <div class="nav-item px-3 d-flex flex-column justify-content-center fit_width">
                            <span class="switch_label">Modo Noturno</span>
                            <label class="switch_rail">
                                <input id="btnNoturno" type="checkbox" />
                                <span class="slider_button"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="Interface container">
            <div id="Conteudo" class="carousel slide">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        @Html.Action("Agendamento")
                    </div>
                    <div class="item">
                        @Html.Action("AgendDia")
                    </div>
                    <div class="item">
                        @Html.Action("Execucao")
                    </div>
                    <div class="item">
                        @Html.Action("MinhaConta")
                    </div>
                    <div class="item">
                        @Html.Action("Ajuda")
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

