@{ 
    Layout = "~/Views/Shared/Autenticacao.cshtml";
}

@model AppLabVad.Models.MetaModel

<head>
    <script src="~/Scripts/_JavaScript/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/_JavaScript/login.js"></script>
    <link href="~/Content/Login.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="..\..\Content\bootstrap.min.css" />
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
</head>

<section class="section">
    <div class="container">
        <div id="loginCarrosel" class="carousel slide">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="col py-5">
                        <div class="login_panel">
                            <div class="col">
                                <div class="row">
                                    <figure class="p-3">
                                        <img src="~/Content/_imagens/logo.png" />
                                    </figure>
                                </div>
                                <div class="row">
                                    <div>
                                        <h1 class="text-white">
                                            LabVad: Laboratório Virtual de Atividades Didáticas em Ciências e Robótica
                                        </h1>
                                    </div>
                                </div>
                                <div class="row p-5">
                                    <section>
                                        @using (Html.BeginForm("Login", "Conta", new { ReturnUrl = ViewBag.ReturnUrl },
                                                FormMethod.Post, new { @class = "col", id = "login", role = "form" }))
                                        {
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="row">
                                                <div class="input-group">
                                                    @Html.LabelFor(log => log.ModelLogin.EmailLog, new { @class = "input-group-addon label-lg" })
                                                    @Html.TextBoxFor(log => log.ModelLogin.EmailLog, new { @class = "form-control", @readonly = "readonly" })
                                                </div>
                                                @Html.ValidationMessageFor(log => log.ModelLogin.EmailLog, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="row">
                                                <div class="input-group">
                                                    @Html.LabelFor(log => log.ModelLogin.SenhaLog, new { @class = "input-group-addon label-lg" })
                                                    @Html.TextBoxFor(log => log.ModelLogin.SenhaLog, new { @class = "form-control", @readonly = "readonly", @type = "password" })
                                                </div>
                                                @Html.ValidationMessageFor(log => log.ModelLogin.SenhaLog, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="row">
                                                <div class="d-flex btn-group">
                                                    @Html.LabelFor(log => log.ModelLogin.LembrarMe, new { @class = "text-white m-0" })
                                                    <div class="d-flex ml-2">
                                                        @Html.CheckBoxFor(log => log.ModelLogin.LembrarMe, new { @class = "m-0" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-block">
                                                <div class="float-left">
                                                    <input class="btn btn-info" type="submit" value="Entrar" />
                                                </div>
                                                <div class="float-right">
                                                    <button id="changeToRegister" class="btn btn-warning" type="button">Cadastrar</button>
                                                </div>
                                            </div>
                                        }
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="float-right col-10 py-5 px-0">
                        <div class="register_panel">
                            <div class="col">
                                <div class="row">
                                    <h2 class="text-white"> Realizar Cadastro </h2>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        @using (Html.BeginForm("Cadastrar", "Cadastro", new { ReturnUrl = ViewBag.ReturnUrl },
                                                                    FormMethod.Post, new { @class = "col py-4", id = "cadastro", role = "form" }))
                                        {
                                            <input id="form" type="hidden" value="cadastro" />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="input-group d-flex flex-column py-1">
                                                @Html.ValidationMessageFor(cad => cad.ModelRegister.NomeCad, "", new { @class = "text-danger" })
                                                
                                                @Html.LabelFor(cad => cad.ModelRegister.NomeCad, new { @class = "label-lg label_custom text-white" })
                                                @Html.TextBoxFor(cad => cad.ModelRegister.NomeCad, new { @class = "form-control", id = "nomeCad" })
                                            </div>
                                            <div class="input-group d-flex flex-column py-1">
                                                @Html.ValidationMessageFor(cad => cad.ModelRegister.EmailCad, "", new { @class = "text-danger" })

                                                @Html.LabelFor(cad => cad.ModelRegister.EmailCad, new { @class = "label-lg label_custom text-white" })
                                                @Html.TextBoxFor(cad => cad.ModelRegister.EmailCad, new { @class = "form-control", id = "emailCad" })
                                            </div>
                                            <div class="input-group d-flex flex-column py-1">
                                                @Html.ValidationMessageFor(cad => cad.ModelRegister.InstiCad, "", new { @class = "text-danger" })

                                                @Html.LabelFor(cad => cad.ModelRegister.InstiCad, new { @class = "label-lg label_custom text-white" })
                                                @Html.TextBoxFor(cad => cad.ModelRegister.InstiCad, new { @class = "form-control", id = "instiCad" })
                                            </div>
                                            <div class="input-group d-flex flex-column py-1">
                                                @Html.ValidationMessageFor(cad => cad.ModelRegister.SenhaCad, "", new { @class = "text-danger" })

                                                @Html.LabelFor(cad => cad.ModelRegister.SenhaCad, new { @class = "label-lg label_custom text-white" })
                                                @Html.PasswordFor(cad => cad.ModelRegister.SenhaCad, new { @class = "form-control", id = "senhaCad" })
                                            </div>
                                            <div class="input-group d-flex flex-column py-1">
                                                @Html.ValidationMessageFor(cad => cad.ModelRegister.ConfSenCad, "", new { @class = "text-danger" })

                                                @Html.LabelFor(cad => cad.ModelRegister.ConfSenCad, new { @class = "label-lg label_custom text-white" })
                                                @Html.PasswordFor(cad => cad.ModelRegister.ConfSenCad, new { @class = "form-control", id = "confSenCad" })
                                            </div>
                                            <div class="col-4 d-block">
                                                <div class="float-right">
                                                    <input class="btn btn-info" type="submit" value="Enviar" />
                                                </div>
                                            </div>
                                        }
                                        <div class="col py-4">
                                            <div class="d-block">
                                                <div class="float-left">
                                                    <div id="changeToLogin" class="btn btn-warning">
                                                        <span><i class="fas fa-arrow-left"></i></span>
                                                        <span>Login</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
